In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data=pd.read_csv("data.csv")

In [3]:
data

         f1        f2     Target
0    1.0000   5.10000  15.172800
1    2.0000   5.40000  17.372200
2    3.0000   5.70000  19.571600
3    4.0000   6.00000  21.771000
4    5.0000   6.30000  23.970400
5    6.0000   6.60000  26.169800
6    2.0000   5.40000  17.372200
7    3.0000   5.70000  19.571600
8    4.4000   6.12000  22.650760
9    5.0000   6.30000  23.970400
10   3.0000   5.70000  19.571600
11   5.4000   6.42000  24.850160
12   6.0000   6.60000  26.169800
13   6.3000   6.69000  26.829620
14   4.0000   6.00000  21.771000
15   5.0000   6.30000  23.970400
16   2.4500   5.53500  18.361930
17   5.0000   6.30000  23.970400
18   6.0000   6.60000  26.169800
19   2.9000   5.67000  19.351660
20   3.4000   5.82000  20.451360
21   5.0000   6.30000  23.970400
22   3.0000   5.70000  19.571600
23  12.0000   8.40000  39.366200
24  11.2000   8.16000  37.606680
25   2.9000   5.67000  19.351660
26   8.8000   7.44000  32.328120
27   8.6700   7.40100  32.042198
28   4.5600   6.16800  23.002664
29   5.0000   6.30000  23.970400
30   6.5000   6.75000  27.269500
31   4.0000   6.00000  21.771000
32   7.8000   7.14000  30.128720
33   9.8000   7.74000  34.527520
34   2.0000   5.40000  17.372200
35   3.4500   5.83500  20.561330
36   5.6000   6.48000  25.290040
37   7.8000   7.14000  30.128720
38   0.9875   5.09625  15.145307
39   3.4000   5.82000  20.451360
40   5.6000   6.48000  25.290040
41  23.0000  11.70000  63.559600
42  10.0000   7.80000  34.967400
43   9.0000   7.50000  32.768000
44  12.9800   8.69400  41.521612
45  10.2300   7.86900  35.473262
46   2.0000   5.40000  17.372200
47   3.4500   5.83500  20.561330
48   6.7554   6.82662  27.831227
49  12.0000   8.40000  39.366200

In [4]:
data.head()

    f1   f2   Target
0  1.0  5.1  15.1728
1  2.0  5.4  17.3722
2  3.0  5.7  19.5716
3  4.0  6.0  21.7710
4  5.0  6.3  23.9704

In [5]:
x1=data.f1

In [6]:
x2=data.f2

In [7]:
y=data.Target

In [8]:
x1=np.array(x1)

In [9]:
x2=np.array(x2)

In [10]:
y=np.array(y)

In [11]:
w0=.3
w1=.5
w2=.7

In [12]:
yp=w0+w1*x1+w2*x2

In [13]:
yp

array([ 4.37    ,  5.08    ,  5.79    ,  6.5     ,  7.21    ,  7.92    ,
        5.08    ,  5.79    ,  6.784   ,  7.21    ,  5.79    ,  7.494   ,
        7.92    ,  8.133   ,  6.5     ,  7.21    ,  5.3995  ,  7.21    ,
        7.92    ,  5.719   ,  6.074   ,  7.21    ,  5.79    , 12.18    ,
       11.612   ,  5.719   ,  9.908   ,  9.8157  ,  6.8976  ,  7.21    ,
        8.275   ,  6.5     ,  9.198   , 10.618   ,  5.08    ,  6.1095  ,
        7.636   ,  9.198   ,  4.361125,  6.074   ,  7.636   , 19.99    ,
       10.76    , 10.05    , 12.8758  , 10.9233  ,  5.08    ,  6.1095  ,
        8.456334, 12.18    ])

In [14]:

y

array([15.1728    , 17.3722    , 19.5716    , 21.771     , 23.9704    ,
       26.1698    , 17.3722    , 19.5716    , 22.65076   , 23.9704    ,
       19.5716    , 24.85016   , 26.1698    , 26.82962   , 21.771     ,
       23.9704    , 18.36193   , 23.9704    , 26.1698    , 19.35166   ,
       20.45136   , 23.9704    , 19.5716    , 39.3662    , 37.60668   ,
       19.35166   , 32.32812   , 32.042198  , 23.002664  , 23.9704    ,
       27.2695    , 21.771     , 30.12872   , 34.52752   , 17.3722    ,
       20.56133   , 25.29004   , 30.12872   , 15.1453075 , 20.45136   ,
       25.29004   , 63.5596    , 34.9674    , 32.768     , 41.521612  ,
       35.473262  , 17.3722    , 20.56133   , 27.83122676, 39.3662    ])

In [19]:
loss=1/len(x1)*sum((yp-y)**2)

In [20]:
loss

357.91570514283194

In [32]:
k=0
w0=.3
w1=.5
w2=.7

lr=.01
while(k<30):
    k=k+1
    yp=w0+w1*x1+w2*x2
    loss=1/len(x1)*sum((yp-y)**2)
    print(loss)
    dlossw0=2/len(x1)*sum((yp-y))
    dlossw1=2/len(x2)*sum((yp-y)*x1)
    dlossw2=2/len(x2)*sum((yp-y)*x2)
    w0=w0-lr*dlossw0
    w1=w1-lr*dlossw1
    w2=w2-lr*dlossw2

357.91570514283194
234.52123447726038
153.7474244158744
100.86083316110123
66.22305935694912
43.52851588828057
28.651750300447876
18.89346551376453
12.487328715091637
8.277361564422336
5.50690822569777
3.6805874604873385
2.4739847855677435
1.6745726316402534
1.143057918513796
0.7880922971707288
0.5497238998097627
0.38856778669298114
0.2787177610304285
0.2031060806440645
0.15046491580812185
0.11333600516560889
0.0867663627807968
0.06745309411701272
0.05318228353395854
0.042460497313698546
0.03427250041006217
0.027921719793965814
0.02292499380185696
0.018942966939827065