# First Problem is about Polynomial Regression

In [63]:
import pandas as pd
data=pd.read_csv("humidity.csv")
data.head()

   sensor_id     lat     lon  pressure  temperature  humidity
0       2266  42.738  23.272  95270.27        23.46     62.48
1       2292  42.663  23.273  94355.83        23.06     59.46
2       3096  42.700  23.360  95155.81        26.53     44.38
3       3428  42.624  23.406  94679.57        28.34     38.28
4       3472  42.669  23.318  94327.88        26.31     46.37

In [64]:
data=data.iloc[:,3:]

In [65]:
data.head()

   pressure  temperature  humidity
0  95270.27        23.46     62.48
1  94355.83        23.06     59.46
2  95155.81        26.53     44.38
3  94679.57        28.34     38.28
4  94327.88        26.31     46.37

In [66]:
y=data["humidity"]

In [67]:
type(y)

pandas.core.series.Series

In [68]:
x=data.drop("humidity",axis=1)

In [69]:
x.shape

(701548, 2)

In [70]:
y.shape

(701548,)

In [71]:
y=pd.DataFrame(y)

In [72]:
y.shape

(701548, 1)

In [73]:
def regression(x,y):
    from sklearn.model_selection import train_test_split
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 1/3, random_state = 0)
    from sklearn.linear_model import LinearRegression
    p = LinearRegression()
    p.fit(x_train,y_train)
    print("Training Score",p.score(x_train,y_train))
    print("Tesr Score",p.score(x_test,y_test))
    return p

In [74]:
model=regression(x,y)

Training Score 0.2822101577005136
Tesr Score 0.28588557544407245

In [75]:
#Lets use polynomail featue

In [15]:
from sklearn.preprocessing import PolynomialFeatures
k= PolynomialFeatures(degree=2)
x1 = k.fit_transform(x)

In [16]:
model=regression(x1,y)

Training Score 0.6420164230182703
Tesr Score 0.6399406858064498

In [17]:
from sklearn.preprocessing import PolynomialFeatures
k= PolynomialFeatures(degree=3)
x1 = k.fit_transform(x)

In [18]:
model=regression(x1,y)

Training Score 0.6418764819916625
Tesr Score 0.639812538127378

In [19]:
for i in range(2,8):
    k= PolynomialFeatures(degree=i)
    x1 = k.fit_transform(x)
    print("For dgree",i)
    model=regression(x1,y)
    print()

For dgree 2
Training Score 0.6420164230182703
Tesr Score 0.6399406858064498

For dgree 3
Training Score 0.6418764819916625
Tesr Score 0.639812538127378

For dgree 4
Training Score 0.6414740285668418
Tesr Score 0.6394309165485178

MemoryError: Unable to allocate 2.41 GiB for an array with shape (701548, 462) and data type float64

Normalization Problem

In [76]:
import pandas as pd
data=pd.read_csv("kc_house_data.csv")

In [77]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [78]:
data.shape

(21597, 21)

In [79]:
len(data["id"].value_counts())

21420

In [80]:
data=data.drop("id",axis=1)

In [81]:
data.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,10/13/2014,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,2/25/2015,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [82]:
data.shape

(21597, 20)

In [83]:
len(data["date"].value_counts())

372

In [84]:
21597/372

58.056451612903224

In [85]:
from sklearn.preprocessing import LabelEncoder
k = LabelEncoder()
data['date'] = k.fit_transform(data['date'])

In [86]:
data.head(5)

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,30,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,114,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,132,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,114,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,124,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [87]:
data.shape

(21597, 20)

In [88]:
x=data.drop("price",axis=1)

In [89]:
y=data["price"]

In [90]:
regression(x,y)

Training Score 0.6939409248663593
Tesr Score 0.7130822965445902

LinearRegression()

# Lets do normalization

In [91]:
x.max()

date             3.710000e+02
bedrooms         3.300000e+01
bathrooms        8.000000e+00
sqft_living      1.354000e+04
sqft_lot         1.651359e+06
floors           3.500000e+00
waterfront       1.000000e+00
view             4.000000e+00
condition        5.000000e+00
grade            1.300000e+01
sqft_above       9.410000e+03
sqft_basement    4.820000e+03
yr_built         2.015000e+03
yr_renovated     2.015000e+03
zipcode          9.819900e+04
lat              4.777760e+01
long            -1.213150e+02
sqft_living15    6.210000e+03
sqft_lot15       8.712000e+05
dtype: float64

In [92]:
x1=x/1.651359e+06

In [93]:
x1.max()

date             2.246634e-04
bedrooms         1.998354e-05
bathrooms        4.844495e-06
sqft_living      8.199307e-03
sqft_lot         1.000000e+00
floors           2.119466e-06
waterfront       6.055618e-07
view             2.422247e-06
condition        3.027809e-06
grade            7.872304e-06
sqft_above       5.698337e-03
sqft_basement    2.918808e-03
yr_built         1.220207e-03
yr_renovated     1.220207e-03
zipcode          5.946557e-02
lat              2.893229e-05
long            -7.346374e-05
sqft_living15    3.760539e-03
sqft_lot15       5.275655e-01
dtype: float64

In [94]:
import numpy as np
np.max(y)

7700000.0

In [95]:
y1=y/7700000

In [96]:
regression(x,y)

Training Score 0.6939409248663593
Tesr Score 0.7130822965445902

LinearRegression()

In [97]:
regression(x1,y1)

Training Score 0.6939409248663602
Tesr Score 0.7130822965446044

LinearRegression()

In [98]:
from sklearn.preprocessing import Normalizer

In [99]:
k=Normalizer()

In [100]:
y=pd.DataFrame(y)

In [101]:
k.fit(x)

Normalizer()

In [102]:
x2=k.transform(x)

In [103]:
k1=Normalizer()

In [104]:
y=pd.DataFrame(y)

In [105]:
k1.fit(y)

Normalizer()

In [106]:
y2=k1.transform(y)

In [107]:
regression(x2,y2)

Training Score 1.0
Tesr Score 1.0

LinearRegression()

In [108]:
import pandas as pd
data=pd.read_csv("E:\data\Diabetes\diabetes.csv")

In [109]:
data.shape

(768, 9)

In [110]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [113]:
data["Outcome"].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [115]:
x=data.drop("Outcome",axis=1)
y=data["Outcome"]

In [116]:
from sklearn.preprocessing import Normalizer

In [117]:
k=Normalizer()

In [118]:
k.fit(x,y)

Normalizer()

In [119]:
x=k.transform(x)

In [120]:
def f1(x,y):
    from sklearn.model_selection import train_test_split
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 1/3, random_state = 0)
    from sklearn.naive_bayes import GaussianNB
    gnb = GaussianNB()
    gnb.fit(x_train,y_train)
    print("NB Model")
    print("train Score",gnb.score(x_train,y_train))
    print("test Score",gnb.score(x_test,y_test))
    print()
    from sklearn.svm import SVC # "Support vector classifier"
    model = SVC(kernel='linear', C=1E10)
    model.fit(x_train,y_train)
    print("SVM Model")
    print("train Score",model.score(x_train,y_train))
    print("test Score",model.score(x_test,y_test))
    print()
    from sklearn.linear_model import LogisticRegression 
    model = LogisticRegression()
    model.fit(x_train,y_train)
    print("Loisitic Model")
    print("train Score",model.score(x_train,y_train))
    print("test Score",model.score(x_test,y_test))
    print()
    from sklearn.neighbors import KNeighborsClassifier
    model = KNeighborsClassifier(n_neighbors=3)
    model.fit(x_train,y_train) 
    print("KNN Model")
    print("train Score",model.score(x_train,y_train))
    print("test Score",model.score(x_test,y_test))
    print()

In [121]:
f1(x,y)

NB Model
train Score 0.63671875
train Score 0.66796875

SVM Model
train Score 0.654296875
train Score 0.68359375

Loisitic Model
train Score 0.62890625
train Score 0.6875

KNN Model
train Score 0.8203125
train Score 0.62890625