In [1]:
import pandas  as pd
import numpy as np

In [2]:
data=pd.read_csv("humidity.csv")

In [3]:
data.head()

   sensor_id     lat     lon  pressure  temperature  humidity
0       2266  42.738  23.272  95270.27        23.46     62.48
1       2292  42.663  23.273  94355.83        23.06     59.46
2       3096  42.700  23.360  95155.81        26.53     44.38
3       3428  42.624  23.406  94679.57        28.34     38.28
4       3472  42.669  23.318  94327.88        26.31     46.37

In [4]:
data=data.drop("sensor_id",axis=1)

In [5]:
data=data.drop("lat",axis=1)

In [6]:
data=data.drop("lon",axis=1)

In [7]:
data

        pressure  temperature  humidity
0       95270.27        23.46     62.48
1       94355.83        23.06     59.46
2       95155.81        26.53     44.38
3       94679.57        28.34     38.28
4       94327.88        26.31     46.37
...          ...          ...       ...
701543  95562.08        21.99     52.28
701544  96070.06        21.41     56.84
701545  95230.42        22.53     51.72
701546  95653.14        23.01     49.78
701547  95418.48        22.57     51.44

[701548 rows x 3 columns]

In [8]:
y=data.humidity

In [9]:
x=data.drop("humidity",axis=1)

In [10]:
x

        pressure  temperature
0       95270.27        23.46
1       94355.83        23.06
2       95155.81        26.53
3       94679.57        28.34
4       94327.88        26.31
...          ...          ...
701543  95562.08        21.99
701544  96070.06        21.41
701545  95230.42        22.53
701546  95653.14        23.01
701547  95418.48        22.57

[701548 rows x 2 columns]

In [11]:
def regression(x,y):
    from sklearn.linear_model import LinearRegression
    from sklearn.model_selection import train_test_split
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3)
    model=LinearRegression()
    model.fit(x_train,y_train)
    print("the training model scrore: ",model.score(x_train,y_train))
    print("the testing model score : ",model.score(x_test,y_test))
    return model

In [12]:
regression(x,y)  #hence this is the underfit data...

the training model scrore:  0.2827888322716856
the testing model score :  0.28459393331313965

LinearRegression()

In [13]:
#using the polynomiafeatures

In [14]:
y=data.humidity

In [15]:
x=data.drop("humidity",axis=1)

In [16]:
def pf(x,y):
    from sklearn.linear_model import LinearRegression
    from sklearn.model_selection import train_test_split
#     from sklearn.preprocessing import PolynomialFeatures
    
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3)
#     k=PolynomialFeatures(degree=2)
#     x_train=k.fit_transform(x_train)
#     print(x_train)
#     y_train=k.fit_transform(y_train)
    model=LinearRegression()
    model.fit(x_train,y_train)
    print("the training model scrore: ",model.score(x_train,y_train))
    print("the testing model score : ",model.score(x_test,y_test))
    return model

In [17]:
regression(x,y)

the training model scrore:  0.2830686769198114
the testing model score :  0.2841826921725211

LinearRegression()

In [18]:
from sklearn.preprocessing import PolynomialFeatures

In [19]:
k=PolynomialFeatures(degree=2)

In [20]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3)

In [21]:
def pf(x,y):
    from sklearn.linear_model import LinearRegression
    from sklearn.model_selection import train_test_split
#     from sklearn.preprocessing import PolynomialFeatures
    
    x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=1/3)
#     k=PolynomialFeatures(degree=2)
#     x_train=k.fit_transform(x_train)
#     print(x_train)
#     y_train=k.fit_transform(y_train)
    model=LinearRegression()
    model.fit(x_train,y_train)
    print("the training model scrore: ",model.score(x_train,y_train))
    print("the testing model score : ",model.score(x_test,y_test))
    return model

In [22]:
x1=k.fit_transform(x)

In [23]:
regression(x1,y)

the training model scrore:  0.6267536247053438
the testing model score :  0.624385066937684

LinearRegression()

In [24]:
f=PolynomialFeatures(degree=5)

In [25]:
x2=f.fit_transform(x)

In [26]:
regression(x2,y)

the training model scrore:  0.6399962658731257
the testing model score :  0.6438506352656731

LinearRegression()

In [27]:
for i in range(2,10):
    k=PolynomialFeatures(degree=i)
    x1=k.fit_transform(x)
    print("For the degree : ",i)
    regression(x1,y)

For the degree :  2
the training model scrore:  0.6234397921600583
the testing model score :  0.6309115581784418
For the degree :  3
the training model scrore:  0.642070098445819
the testing model score :  0.6392910235236138
For the degree :  4
the training model scrore:  0.6405981125640912
the testing model score :  -1.453181292136835
For the degree :  5
the training model scrore:  0.6411403868462295
the testing model score :  0.6415178912013138
For the degree :  6
the training model scrore:  0.6412406551088193
the testing model score :  0.6410168136490507
For the degree :  7
the training model scrore:  0.6417784909047173
the testing model score :  0.6395871852454267
For the degree :  8
the training model scrore:  0.6412979911983413
the testing model score :  0.639816819785072
For the degree :  9
the training model scrore:  0.641883160893139
the testing model score :  -1413.3214628158744